@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);

}

header {
    display:flex;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 81, 154);
    color: rgb(255,196,49);
    height: 70px;
    box-shadow: 3px 3px 7px 3px #808080
}

#text {
    display: flex;
    width: 180px;
    height: 30px;
    justify-content: center;
    margin: 70px auto auto auto;
}

#button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto auto;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info {
   display: flex;
    justify-content: center;
    height: 500px;
    width: 50%;
    align-items: center;
    margin-top: 140px;
    float: left;
    position: relative;
    box-shadow: 3px 3px 9px 3px #808080;
}

#stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:50%;
    margin-top: 140px;
    float: right;
    box-shadow: 3px 3px 9px 3px #808080;
    flex-wrap: wrap;
}

.pokemon {
    display: flex, 1;
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

#sprite {
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: 200px;
    width: 200px;
    margin-right: 60px;
}

#baseStats {
    display: flex;
    align-items: flex-start;
}

#name, #type, #abilities {
    text-transform: capitalize;
}

footer {
    font-size: x-small;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
